* {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --ff-primary: "Roboto", sans-serif;
  --ff-title: "Pirata One", sans-serif;
  --color-white: #ffffff;
  --color-white-0: rgba(255, 255, 255, 0.6);
  --color-black: #001e29;
  --leter-spacing: 0.1rem;
  --font-size-h1: 3.2rem;
  --font-size-h2: 2rem;
  --font-size-p: 1.7rem;
  --radius: 5px;
  --transition: all 0.3s linear;
}

body {
  margin: 0;
  font-family: var(--ff-primary);
  color: var(--color-white);
  text-align: center;
}
h1 {
  font-family: var(--ff-title);
  font-size: var(--font-size-h1);
  margin: 0;
}

h2 {
  font-size: var(--font-size-h2);
}
p {
  font-size: var(--font-size-p);
  line-height: 2.5rem;
}
/*
  ===================
  background 
  ===================
  */
.video-container {
  height: 100vh;
  width: 100vw;
}

#background-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.img-container {
  height: 100vh;
  width: 100vw;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* use the hidden class to hide elements */

.hidden {
  display: none;
}
/*
  ===================
  center container
  ===================
  */

.center-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
}
/* adding an overlay  */
.video-container::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

#chapter-title {
  letter-spacing: var(--leter-spacing);
}
#chapter-description {
  font-size: var(--font-size-p);
  padding: 2rem;
  line-height: 3rem;
}
#chapter-instruction {
  max-width: 70%;
  margin: 0 auto;
}
.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
}
button {
  font-size: var(--font-size-p);
  font-family: var(--ff-primary);
  padding: 0.5rem 1.2rem;
  border-radius: 3rem;
  border-color: transparent;
  background-color: var(--color-white-0);
  color: var(--color-black);
  transition: all 0.3s linear;
}
button:hover {
  background-color: transparent;
  color: var(--color-white);
  border: 2px solid var(--color-white);
}
/*
=============
Inventory items
=============
*/
.hidden-map {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 10%;
  bottom: 20%;
  z-index: 5;
  transition: var(--transition);
}
.hidden-map:hover {
  transform: scale(5);
  cursor: pointer;
}
.item {
  position: absolute;
  height: 70px;
  width: 70px;
  z-index: 2;
  transition: var(--transition);
}
.item:hover {
  transform: scale(2);
  cursor: pointer;
}
#hidden-map {
  right: 20%;
  bottom: 17%;
}
#seaShell {
  left: 25%;
  bottom: 25%;
}
#key {
  left: 20%;
  top: 17%;
}
#compass {
  height: 100px;
  top: 20%;
  right: 17%;
}
/*  inventory section */

.inventory-collection {
  margin: 2rem auto;
  width: 430px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  gap: 0.5rem;
}
.inventory-item {
  height: 100px;
  width: 100px;
  border-radius: var(--radius);
  background-color: rgba(255, 255, 255, 0.4);
}
